<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SheKnows - Breast Cancer Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">SheKnows</p>
        </div>
    </header>
    <img src="https://img.freepik.com/premium-photo/breast-cancer-awareness-month-ribbon-concept-background_726330-2664.jpg"  alt="Breast Cancer Awareness Ribbon" class="section-img">
    <section id="about" class="content-section">
        <div class="container">
            <h2>About SheKnows</h2>
            <p>SheKnows is a platform designed to assist women in detecting early signs of breast cancer through machine learning technology. With timely detection, we aim to reduce risks and provide valuable insights for better health outcomes.</p>
        </div>
    </section>
    <section id="services" class="content-section">
        <div class="container">
            <div class="service-cards">
                <div class="card">
                    <h3>Only one step required</h3>
                    <p>You just need to upload your breast histopathology image to predict Breast Cancer.</p>
                </div>
                 <div class="card">
                <h3>Upload a breast histopathology image</h3>
                <form method="post" enctype="multipart/form-data">
                    <label for="X-Ray">X-Ray</label>
                    <input id="X-Ray" type="file" name="image" accept="image/*" class="image_input" required />
                    <button type="submit" class="btn-primary">Upload</button>
                </form>
            </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>Please note that this is an AI based prediction and the actual results may vary kindly consult your doctor as soon as possible to avoid risks.</p>
        </div>
    </footer>
</body>
</html>
